#main-play-area {
    width: 800px;
    height: 500px;
    background-image: url('images/space-6.png');
    margin: 0 auto;
  }
  
  #instructions-text {
    position: relative;
    color: white;
    top: 20px;
    text-shadow: 2px 2px black;
  }
  
  #start-button,#instructions,#about{
    position: relative;
    color: white;
    top: 80px;
    text-shadow: 2px 2px black;
  }
  
  #menu{
      margin: 0 auto;
      text-align: center;
      background-color: coral;
      width: 400px;
      height: 400px;
  }
  #start-button,#instructions,#about,.awal:hover {
    cursor: pointer;
  }
  
  #player-controlled-shooter {
    width: 40px;
    height: 40px;
    position: relative;
    left: 20px;
    top: 180px;
  }
  
  .laser {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .monster {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
         0 0 6px 3px #fff,
         0 0 5px 6px #f0f,
         0 0 9px 9px #0ff;
  }
  
  .monster-transition {
    opacity: 1;
    transition: opacity 1.5s ease-out;
  }
  
  
  .dead-monster {
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0;
  }

  #instruksi{
      display: none;
      margin: 0 auto;
      text-align: center;
      color: white;
  }
  